{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block LoginReg %}
<h1 id='login_title'>{% block title %}Register{% endblock %}</h1>
<h4 id='message'>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" name="email" id="email">
    <label for="name">Name</label>
    <input class="form-control" name="name" id="name">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password">
    <label for="password">Confirm Password</label>
    <input class="form-control" type="password" name="password2" id="password2">
    <br>
    <input class="btn btn-primary" type="submit" value="Register">
  <a href='/login' class="btn btn-primary" id="btn-submit" >Login</a>
  </div>
</form>
{% endblock %}