{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block menue %}

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<nav id="sidebar">
  <div class="custom-menu">
  <button type="button" id="sidebarCollapse" class="btn btn-primary">
  <i class="fa fa-bars"></i>
  <span class="sr-only">Toggle Menu</span>
  </button>
  </div>
  <h1><a href="index.html" class="logo">Safe Space</a></h1>
  <ul class="list-unstyled components mb-5">
  <li class="active">
  <a href="#"><span class="fa fa-home mr-3"></span> Homepage</a>
  </li>
  <li>
  <a href="#"><span class="fa fa-paper-plane mr-3"></span> Settings</a>
  </li>
  </ul>
</nav>

<!--
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Start Bootstrap </div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
  </div>
</div>-->


{% endblock %}
  
{% block rooms %}

<nav id="sidebar">
  <div class="custom-menu">
  <ul class="list-unstyled components mb-5">
  <li class="active">
  <a href="#"><span class="fa fa-home mr-3"></span> Homepage</a>
  </li>
  <li>
  <a href="#"><span class="fa fa-paper-plane mr-3"></span> Settings</a>
  </li>
  </ul>
</nav>

{% endblock %}


{% block content %}

<h2>Number of people in the rooom:</h2>
<b id="big" class="center" src="{{ url_for('num_people') }}"></b>

<h1 align="center">Video Streaming Demonistration</h1>
<img id="bg" class="center" src="{{ url_for('video_feed') }}">

<br>
<br>
<a id="logout" href='/logout'>logout</a>
{% endblock %}