<head>p {
  margin-top:-5px;
}</head>

{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block menue %}

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<nav id="sidebar" style="padding-left:10px">
  <div class="custom-menu">
  <span class="sr-only">Toggle Menu</span>
  </button>
  </div>
  <ul class="list-unstyled components mb-5">
  <li class="active">
  <a href="#"><span class="fa fa-home fa-4x"></span> </a>
  </li>
  <br>
  <li>
  <a href="#"><span class="fa fa-paper-plane fa-3x"></span></a>
  </li>
  </ul>
</nav>

<!--
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Start Bootstrap </div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
  </div>
</div>-->


{% endblock %}
  
{% block rooms %}

<div class="container" align="left" style="padding-left:40px">
  <nav id="sidebar">
    <div class="custom-menu">
      <h1>Bob's Burgers</h1>
      <b>111 backerfield drive, Kingston, Ont, Canada, P6A 5K6</b>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="#"><span class="fa fa-home mr-3"></span> Homepage</a>
        </li>
        <li>
          <a href="#"><span class="fa fa-paper-plane mr-3"></span> Settings</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

{% endblock %}


{% block RoomInfo %}

<h1>Main Room</h1>
<b>Size: 20' x 20'</b>

{% endblock %}


{% block MaxCapacity %}

<h1>Max Capacity</h1>
<b>1</b>

{% endblock %}

{% block CurrentOccupation %}

<h1>Current Occupation</h1>
<b>2</b>

{% endblock %}


{% block content %}

<!---<h2>Number of people in the rooom:</h2>
<b id="big" class="center" src="{{ url_for('num_people') }}"></b>-->

<img id="bg" align="center" src="{{ url_for('video_feed') }}">

<br>
<br>
<a id="logout" href='/logout'>logout</a>
{% endblock %}