{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.name }}</h2>

<h4 id="account-balance">Your balance is: {{ user.balance }} !</h4>


<h2 >Here is where you can purchase tickets</h2>

<hr>
<h2 id='sell_header'>Here is where you can sell tickets</h2>

<h4 id='sell_message'>{{sell_message}}</h4>
<form id="sell_form" method="post" action="/sell">
    <div class="form-group">
      <label for="sell_ticket_name">Ticket Name</label>
      <input class="form-control" name="sell_ticket_name" id="sell_ticket_name" required>
      <label for="sell_num_tickets">Number of Tickets</label>
      <input class="form-control" name="sell_num_tickets" id="sell_num_tickets" type="number" required>
      <label for="sell_ticket_price">Ticket Price $</label>
      <input class="form-control" name="sell_ticket_price" id="sell_ticket_price" type="number" required>
      <label for="sell_ticket_date">Ticket Date</label>
      <br>
      <input type="date" name="sell_ticket_date" id="sell_ticket_date" required>
      <br>
      <input class="btn btn-lg btn-primary" type="submit" id="sell_btn-submit" value="Post Tickets">
      <br>
    </div>
</form>


<h2 id='buy_header'>Buy tickets here</h2>
<h4 id='buy_message'>{{buy_message}}</h4>
<form id="buy_form" method="post" action="/buy">
    <div class="form-group">
      <label for="buy_ticket_name">Ticket Name</label>
      <input class="form-control" name="buy_ticket_name" id="buy_ticket_name" required>
      <label for="buy_num_tickets">Number of Tickets</label>
      <input class="form-control" name="buy_num_tickets" id="buy_num_tickets" type="number" required>
      <input class="btn btn-lg btn-primary" type="submit" id="buy_btn-submit" value="Buy Tickets">
      <br>
    </div>
</form>

<h2 >Update tickets here</h2>
<h4 id='update_message'>{{update_message}}</h4>
<form id="update_form" method="post" action="/update">
    <div class="form-group">
      <label for="update_ticket_name">Ticket Name</label>
      <input class="form-control" name="update_ticket_name" id="update_ticket_name" required>
      <label for="update_num_tickets">New Number of Tickets</label>
      <input class="form-control" name="update_num_tickets" id="update_num_tickets" type="number" required>
      <label for="update_ticket_price">New Ticket Price $</label>
      <input class="form-control" name="update_ticket_price" id="update_ticket_price" type="number" required>
      <label for="update_ticket_date">New Ticket Date</label>
      <br>
      <input type="date" name="update_ticket_date" id="update_ticket_date" required>
      <br>
      <input class="btn btn-lg btn-primary" type="submit" id="update_btn-submit" value="Update Tickets">
      <br>
    </div>
</form>


<h4>Tickets for sale</h4>

<div id="tickets">
<table style="width:100%" id="ticket_table">
    <tr>
      <th>Concert Name</th>
      <th>Price $</th>
      <th>Available Tickets</th>
      <th>Date</th>
      <th>Owner</th>
    </tr>
{% for ticket in tickets %}
    <tr id="{{ticket.ticket_name}}%{{ticket.ticket_price}}%{{ticket.num_tickets}}%{{ticket.ticket_date}}%{{ticket.ticket_owner}}">
        <td>{{ ticket.ticket_name }}</td>
        <td>{{ ticket.ticket_price }}</td>
        <td>{{ ticket.num_tickets }}</td>
        <td>{{ ticket.ticket_date }}</td>
        <td>{{ ticket.ticket_owner }}</td>
    </tr>
{% endfor %}

</div>
</table>

<br>
<br>
<a id="logout" href='/logout'>logout</a>
{% endblock %}